body {
 text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-auto-rows: minmax(250px, auto); */
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

.card {
  border: 14px solid blue;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

a {
  text-decoration: none;
}

.card-title {
  background-color: navy;
  color: white;
  border-radius: 0 0 1rem 1r;
  margin: 0;
  text-align: center;
}

