body {
  background-color: blue;
  font-weight: 400;
}
.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.instructions {
  text-align: left;
  padding-right: 40px;
}
.ingredients {
  text-align: left;
}
.fade-in-text {
  animation: fadeIn linear 5s;   
}
.summary {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100%{opacity: 1};
}